@tailwind components;

@layer components {
  html {
    @apply snap-y snap-mandatory;
    timeline-scope: --section, --main;
  }
  .navbar {
    @apply fixed;
  }
  .main {
    view-timeline: --main;
  }
  .section {
    @apply h-dvh snap-start snap-always;
    view-timeline: --section;
  }
  .content {
    /* Fix the content, so it doesn't scroll with the section */
    overflow: hidden;
    position: fixed;
    inset: 0;

    /* Animate the content based on the section scrolling */
    --contrast: 1;
    --blur: 0.4rem;

    animation: blink ease-in-out both;
    animation-timeline: --section;
  }
  @keyframes blink {
    0%,
    100% {
      filter: blur(var(--blur)) contrast(var(--contrast));
      opacity: 0;
      visibility: hidden;
    }

    50% {
      filter: blur(0) contrast(1);
      opacity: 1;
      visibility: visible;
    }
  }
}
